@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	button:not(:disabled),
	[role='button']:not(:disabled),
	label:not(:has(input:disabled)),
	summary,
	select,
	input[type='checkbox']:not(:disabled),
	input[type='radio']:not(:disabled) {
		cursor: pointer;
	}
}
